body{
	font-size: 15px;
	background: silver;
	font-family: cursive;
	margin:0;
	line-height: 5px;
}
h2,h3,h4,h5,h6,p,ul{
	margin: 0.1%;
	padding: 0;
}
header{
	display: flex;flex-direction: row;
	background: black;
	text-align: center;
	padding:2%;
	color: lightblue;
	margin-bottom: 0.2%;
	}
	header img{
		width: 100px;
		height: 100px;
	}
	header h1{
		margin-left: 20px;
		margin-top: 45px;
	}
.search{
  text-align: right;
	background: lightblue;
	display: flex;
	flex-direction: column-reverse;
}
.menubar{
	background: lightgrey;
	padding: 0.1%;
	margin-bottom: 0.5%;
}
.menubar ul{
	display: flex;
	flex-flow: row wrap;
	list-style: none;
}
.menubar ul li{
	margin:1%;
	 padding: 1%;
	 background: silver;
	 flex-grow: 10;
	text-align: center;
}
.menubar ul li:hover{
	background: lightblue;
	border-radius:50px;
}
.menubar ul li:hover a{
	color:white;
}
.menubar ul li a{color:black;text-decoration: none;}
section{
	background:lightyellow ;
}
section article p{
  line-height: 20px;
}
article ol li{
	line-height: 20px;
}
section .article-image p{
	text-align: center;
}

section img{
	width: 500px;
	height: auto;
}
footer{
  background:black; padding:0.1%;
	display: flex;
	justify-content: center;
}
footer article{
  background:green;
	padding: 0.1%;
	width:30%;
	margin-left: 10px;
}
footer article h3{background:lightblue ;color:lightyellow;padding:2%;}
footer article p{background: lightyellow;color:red;padding: 2%;}
form{
	display: flex;
	flex-direction: column;
}
input[type=text]{
	margin:10px;
	width: 200px;
}
input[type="submit"]{
	width:80px;
	margin-left: 10px;
	margin-bottom: 10px;
}
textarea{
	margin: 10px;
	height:200px;
	width: 500px;
margin-bottom:10px;
}
@media screen and (max-width:700px){
	section .article-image p img{
		max-width: 100%;
	}
	.menubar ul{
		flex-direction: column;
	}
	footer article{
		width:100%;
		margin-left: 0;
	}
	footer article h3{background:lightblue ;color:lightyellow;
	}
	footer article p{background: lightyellow;color:red;
	}
}
